.url{
    text-decoration: none;
    color: black;
    width: 100%;
}
p{
    font-family: Roboto, arial;
    margin-top: 0px;
    margin-bottom: 0px;
}
.sid-bar{
    position: fixed;
    background-color: white;
    left: 0;
    top: 50px;
    bottom: 0;
    width: 70px;
    display: inline-block;
    z-index: 200;
}
.s-ho, .s-ex, .s-su, .s-or, .s-yt, .s-li{
    cursor: pointer;
    padding: 15px 0px 15px 0px;
}
.s-ho{
    margin-top: 10px;
}
.s-ho:hover, .s-ex:hover, .s-su:hover, .s-or:hover, .s-yt:hover, .s-li:hover{
    background-color: rgb(228, 228, 228)
}
.home, .exp, .sup, .org, .music, .lib{
    width: 28px;
    margin: 0px 20px 0px 20px;
    align-items: center;
    cursor: pointer;
}

.ho, .ex, .su,.or, .yt, .li{
    font-size: 9px;
    text-align: center;
    margin: 0px 0px 0px 0px;
    font-weight: 400;
    cursor: pointer;
}
.profile-video{
position: relative;
}
.time{
    position: absolute;
    background-color: rgba(52, 48, 48, 0.714);
    color: white;
    bottom: 10px;
    right: 10px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    padding: 3px 3px 3px 3px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 12px;
}
.no-of{
    position: absolute;
    background-color: red;
    color: white;
    border-radius: 8px;
    font-size: 11px;
    width: 20px;
    height: 15px;
    text-align: center;
    top: 12px;
    right: 75px;
    font-family: Roboto,Arial, Helvetica, sans-serif;
    /*padding: 1px 1px 1px 1px;*/
    flex-shrink: 0;

}
